In [59]:
import pandas as pd
import numpy as np
import csv
import codecs

In [60]:
with codecs.open("201610_1.csv", "r", "Shift-JIS", "ignore") as file:
    df = pd.read_table(file, delimiter=",")
    df = pd.DataFrame(df)
    print(df)

   2016年10月 交通量月報   下り 名･豊･衣 交通量      Unnamed: 1 Unnamed: 2       Unnamed: 3  \
0                            NaN             NaN        NaN              NaN
1                            NaN               1          2                3
2                             場所  日進\r\r〜\r\r長久手   長久手\r\r▽  ロング\r\rランプ\r\r▽
3                             項目            総交通量       総交通量             総交通量
4                             単位             台/h        台/h              台/h
5                         01日(土)            6406       3594             2812
6                         02日(日)            6237       3494             2743
7                         03日(月)            3982       2143             1839
8                         04日(火)            4875       2491             2384
9                         05日(水)            5567       2936             2631
10                        06日(木)            6205       3204             3001
11                        07日(金)            6809       3470             3339
12                        08日(土)            6374       3534             2840
13                        09日(日)            5471       3003             2468
14                        10日(月)            6507       3389             3118
15                        11日(火)            6909       3616             3293
16                        12日(水)            7562       3910             3652
17                        13日(木)            7679       4068             3611
18                        14日(金)            7906       4253             3653
19                        15日(土)            7367       3899             3468
20                        16日(日)            6295       3302             2993
21                        17日(月)            4806       3529             1551
22                        18日(火)            4287       3972              315
23                        19日(水)            4412       3901              511
24                        20日(木)            4295       4013              282
25                        21日(金)            2867       4109               59
26                        22日(土)            3576       4044               77
27                        23日(日)            1453       3474               17
28                        24日(月)            1407       3642               19
29                        25日(火)            2061       3850               59
30                        26日(水)            2636       3785               56
31                        27日(木)            3098       3793               71
32                        28日(金)            3541       3889              103
33                        29日(土)            3137       3816               83
34                        30日(日)            2137       3202               74
35                        31日(月)            2670       3741               51
36                           合　計          148534     111066            51173
37                           平　均            4791       3583             1651
38                           日最大            7906       4253             3653
39                         日最大時刻           10/14      10/14            10/14
40                           日最小            1407       2143               17
41                         日最小時刻           10/24      10/03            10/23
42                           NaN             NaN        NaN              NaN

    Unnamed: 4  Unnamed: 5  Unnamed: 6       Unnamed: 7 Unnamed: 8  \
0          NaN         NaN         NaN              NaN        NaN
1          4.0         5.0         6.0                7          8
2          NaN         NaN         NaN  牛田TB\r\r〜\r\r牛田    牛田\r\r△
3          NaN         NaN         NaN             総交通量       総交通量
4          NaN         NaN         NaN              台/h        台/h
5          NaN         NaN         NaN             4897        409
6          NaN         NaN         NaN             4371        332
7          NaN         NaN         NaN             5945        548
8          NaN         NaN         NaN             6351        562
9          NaN         NaN         NaN             6200        570
10         NaN         NaN         NaN             6440        555
11         NaN         NaN         NaN             7011        649
12         NaN         NaN         NaN             4784        373
13         NaN         NaN         NaN             4376        277
14         NaN         NaN         NaN             5666        335
15         NaN         NaN         NaN             6359        582
16         NaN         NaN         NaN             6452        561
17         NaN         NaN         NaN             6629        530
18         NaN         NaN         NaN             7062        579
19         NaN         NaN         NaN             5360        403
20         NaN         NaN         NaN             4852        295
21         NaN         NaN         NaN             6232        524
22         NaN         NaN         NaN             6611        564
23         NaN         NaN         NaN             6647        568
24         NaN         NaN         NaN             6829        599
25         NaN         NaN         NaN             7069        622
26         NaN         NaN         NaN             5757        375
27         NaN         NaN         NaN             4826        306
28         NaN         NaN         NaN             6491        539
29         NaN         NaN         NaN             6506        555
30         NaN         NaN         NaN             6741        635
31         NaN         NaN         NaN             7016        599
32         NaN         NaN         NaN             6973        646
33         NaN         NaN         NaN             5437        442
34         NaN         NaN         NaN             4881        306
35         NaN         NaN         NaN             6627        545
36         NaN         NaN         NaN           187398      15385
37         NaN         NaN         NaN             6045        496
38         NaN         NaN         NaN             7069        649
39         NaN         NaN         NaN            10/21      10/07
40         NaN         NaN         NaN             4371        277
41         NaN         NaN         NaN            10/02      10/09
42         NaN         NaN         NaN              NaN        NaN

       Unnamed: 9     ...      Unnamed: 11  Unnamed: 12    Unnamed: 13  \
0             NaN     ...              NaN          NaN            NaN
1               9     ...             11.0         12.0             13
2   牛田\r\r〜\r\r新林     ...              NaN          NaN  碧南\r\r〜\r\r半田
3            総交通量     ...              NaN          NaN           総交通量
4             台/h     ...              NaN          NaN            台/h
5            5306     ...              NaN          NaN           8179
6            4703     ...              NaN          NaN           6903
7            6493     ...              NaN          NaN           7603
8            6913     ...              NaN          NaN           7868
9            6770     ...              NaN          NaN           7520
10           6995     ...              NaN          NaN           7940
11           7660     ...              NaN          NaN           8876
12           5157     ...              NaN          NaN           7767
13           4653     ...              NaN          NaN           6977
14           6001     ...              NaN          NaN           7784
15           6941     ...              NaN          NaN           7879
16           7013     ...              NaN          NaN           8020
17           7159     ...              NaN          NaN           7915
18           7641     ...              NaN          NaN           8680
19           5763     ...              NaN          NaN           8656
20           5147     ...              NaN          NaN           7102
21           6756     ...              NaN          NaN           7310
22           7175     ...              NaN          NaN           8033
23           7215     ...              NaN          NaN           8098
24           7428     ...              NaN          NaN           8268
25           7691     ...              NaN          NaN           8972
26           6132     ...              NaN          NaN           8166
27           5132     ...              NaN          NaN           7285
28           7030     ...              NaN          NaN           7914
29           7061     ...              NaN          NaN           7952
30           7376     ...              NaN          NaN           8155
31           7615     ...              NaN          NaN           8182
32           7619     ...              NaN          NaN           8407
33           5879     ...              NaN          NaN           8514
34           5187     ...              NaN          NaN           7173
35           7172     ...              NaN          NaN           7825
36         202783     ...              NaN          NaN         245923
37           6541     ...              NaN          NaN           7933
38           7691     ...              NaN          NaN           8972
39          10/21     ...              NaN          NaN          10/21
40           4653     ...              NaN          NaN           6903
41          10/09     ...              NaN          NaN          10/02
42            NaN     ...              NaN          NaN            NaN

   Unnamed: 14  Unnamed: 15  Unnamed: 16  Unnamed: 17  Unnamed: 18  \
0          NaN          NaN          NaN          NaN          NaN
1         14.0         15.0         16.0         17.0         18.0
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN
5          NaN          NaN          NaN          NaN          NaN
6          NaN          NaN          NaN          NaN          NaN
7          NaN          NaN          NaN          NaN          NaN
8          NaN          NaN          NaN          NaN          NaN
9          NaN          NaN          NaN          NaN          NaN
10         NaN          NaN          NaN          NaN          NaN
11         NaN          NaN          NaN          NaN          NaN
12         NaN          NaN          NaN          NaN          NaN
13         NaN          NaN          NaN          NaN          NaN
14         NaN          NaN          NaN          NaN          NaN
15         NaN          NaN          NaN          NaN          NaN
16         NaN          NaN          NaN          NaN          NaN
17         NaN          NaN          NaN          NaN          NaN
18         NaN          NaN          NaN          NaN          NaN
19         NaN          NaN          NaN          NaN          NaN
20         NaN          NaN          NaN          NaN          NaN
21         NaN          NaN          NaN          NaN          NaN
22         NaN          NaN          NaN          NaN          NaN
23         NaN          NaN          NaN          NaN          NaN
24         NaN          NaN          NaN          NaN          NaN
25         NaN          NaN          NaN          NaN          NaN
26         NaN          NaN          NaN          NaN          NaN
27         NaN          NaN          NaN          NaN          NaN
28         NaN          NaN          NaN          NaN          NaN
29         NaN          NaN          NaN          NaN          NaN
30         NaN          NaN          NaN          NaN          NaN
31         NaN          NaN          NaN          NaN          NaN
32         NaN          NaN          NaN          NaN          NaN
33         NaN          NaN          NaN          NaN          NaN
34         NaN          NaN          NaN          NaN          NaN
35         NaN          NaN          NaN          NaN          NaN
36         NaN          NaN          NaN          NaN          NaN
37         NaN          NaN          NaN          NaN          NaN
38         NaN          NaN          NaN          NaN          NaN
39         NaN          NaN          NaN          NaN          NaN
40         NaN          NaN          NaN          NaN          NaN
41         NaN          NaN          NaN          NaN          NaN
42         NaN          NaN          NaN          NaN          NaN

           Unnamed: 19 Unnamed: 20
0   2016年11月01日 06時32分         NaN
1                   19        20.0
2                  NaN         NaN
3                  NaN         NaN
4                  NaN         NaN
5                  NaN         NaN
6                  NaN         NaN
7                  NaN         NaN
8                  NaN         NaN
9                  NaN         NaN
10                 NaN         NaN
11                 NaN         NaN
12                 NaN         NaN
13                 NaN         NaN
14                 NaN         NaN
15                 NaN         NaN
16                 NaN         NaN
17                 NaN         NaN
18                 NaN         NaN
19                 NaN         NaN
20                 NaN         NaN
21                 NaN         NaN
22                 NaN         NaN
23                 NaN         NaN
24                 NaN         NaN
25                 NaN         NaN
26                 NaN         NaN
27                 NaN         NaN
28                 NaN         NaN
29                 NaN         NaN
30                 NaN         NaN
31                 NaN         NaN
32                 NaN         NaN
33                 NaN         NaN
34                 NaN         NaN
35                 NaN         NaN
36                 NaN         NaN
37                 NaN         NaN
38                 NaN         NaN
39                 NaN         NaN
40                 NaN         NaN
41                 NaN         NaN
42                 NaN         NaN

[43 rows x 21 columns]

In [61]:
df.columns

Index(['2016年10月 交通量月報   下り 名･豊･衣 交通量', 'Unnamed: 1', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20'],
      dtype='object')

In [62]:
df = df.drop('2016年10月 交通量月報   下り 名･豊･衣 交通量',axis=1)
df=df.drop([36,37,38,39,40,41,42], axis=0)
df=df.drop([0,1,2,3,4], axis=0)
df

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
5,6406,3594,2812,NaN,NaN,NaN,4897,409,5306,NaN,NaN,NaN,8179,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6237,3494,2743,NaN,NaN,NaN,4371,332,4703,NaN,NaN,NaN,6903,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3982,2143,1839,NaN,NaN,NaN,5945,548,6493,NaN,NaN,NaN,7603,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,4875,2491,2384,NaN,NaN,NaN,6351,562,6913,NaN,NaN,NaN,7868,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,5567,2936,2631,NaN,NaN,NaN,6200,570,6770,NaN,NaN,NaN,7520,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,6205,3204,3001,NaN,NaN,NaN,6440,555,6995,NaN,NaN,NaN,7940,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,6809,3470,3339,NaN,NaN,NaN,7011,649,7660,NaN,NaN,NaN,8876,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,6374,3534,2840,NaN,NaN,NaN,4784,373,5157,NaN,NaN,NaN,7767,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,5471,3003,2468,NaN,NaN,NaN,4376,277,4653,NaN,NaN,NaN,6977,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,6507,3389,3118,NaN,NaN,NaN,5666,335,6001,NaN,NaN,NaN,7784,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,6909,3616,3293,NaN,NaN,NaN,6359,582,6941,NaN,NaN,NaN,7879,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,7562,3910,3652,NaN,NaN,NaN,6452,561,7013,NaN,NaN,NaN,8020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,7679,4068,3611,NaN,NaN,NaN,6629,530,7159,NaN,NaN,NaN,7915,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,7906,4253,3653,NaN,NaN,NaN,7062,579,7641,NaN,NaN,NaN,8680,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,7367,3899,3468,NaN,NaN,NaN,5360,403,5763,NaN,NaN,NaN,8656,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,6295,3302,2993,NaN,NaN,NaN,4852,295,5147,NaN,NaN,NaN,7102,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,4806,3529,1551,NaN,NaN,NaN,6232,524,6756,NaN,NaN,NaN,7310,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,4287,3972,315,NaN,NaN,NaN,6611,564,7175,NaN,NaN,NaN,8033,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,4412,3901,511,NaN,NaN,NaN,6647,568,7215,NaN,NaN,NaN,8098,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,4295,4013,282,NaN,NaN,NaN,6829,599,7428,NaN,NaN,NaN,8268,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2867,4109,59,NaN,NaN,NaN,7069,622,7691,NaN,NaN,NaN,8972,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,3576,4044,77,NaN,NaN,NaN,5757,375,6132,NaN,NaN,NaN,8166,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1453,3474,17,NaN,NaN,NaN,4826,306,5132,NaN,NaN,NaN,7285,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1407,3642,19,NaN,NaN,NaN,6491,539,7030,NaN,NaN,NaN,7914,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2061,3850,59,NaN,NaN,NaN,6506,555,7061,NaN,NaN,NaN,7952,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2636,3785,56,NaN,NaN,NaN,6741,635,7376,NaN,NaN,NaN,8155,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,3098,3793,71,NaN,NaN,NaN,7016,599,7615,NaN,NaN,NaN,8182,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,3541,3889,103,NaN,NaN,NaN,6973,646,7619,NaN,NaN,NaN,8407,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,3137,3816,83,NaN,NaN,NaN,5437,442,5879,NaN,NaN,NaN,8514,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2137,3202,74,NaN,NaN,NaN,4881,306,5187,NaN,NaN,NaN,7173,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,2670,3741,51,NaN,NaN,NaN,6627,545,7172,NaN,NaN,NaN,7825,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
df.index=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]
df

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
1,6406,3594,2812,NaN,NaN,NaN,4897,409,5306,NaN,NaN,NaN,8179,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6237,3494,2743,NaN,NaN,NaN,4371,332,4703,NaN,NaN,NaN,6903,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3982,2143,1839,NaN,NaN,NaN,5945,548,6493,NaN,NaN,NaN,7603,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4875,2491,2384,NaN,NaN,NaN,6351,562,6913,NaN,NaN,NaN,7868,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5567,2936,2631,NaN,NaN,NaN,6200,570,6770,NaN,NaN,NaN,7520,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6205,3204,3001,NaN,NaN,NaN,6440,555,6995,NaN,NaN,NaN,7940,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,6809,3470,3339,NaN,NaN,NaN,7011,649,7660,NaN,NaN,NaN,8876,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,6374,3534,2840,NaN,NaN,NaN,4784,373,5157,NaN,NaN,NaN,7767,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,5471,3003,2468,NaN,NaN,NaN,4376,277,4653,NaN,NaN,NaN,6977,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,6507,3389,3118,NaN,NaN,NaN,5666,335,6001,NaN,NaN,NaN,7784,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,6909,3616,3293,NaN,NaN,NaN,6359,582,6941,NaN,NaN,NaN,7879,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,7562,3910,3652,NaN,NaN,NaN,6452,561,7013,NaN,NaN,NaN,8020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,7679,4068,3611,NaN,NaN,NaN,6629,530,7159,NaN,NaN,NaN,7915,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,7906,4253,3653,NaN,NaN,NaN,7062,579,7641,NaN,NaN,NaN,8680,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,7367,3899,3468,NaN,NaN,NaN,5360,403,5763,NaN,NaN,NaN,8656,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,6295,3302,2993,NaN,NaN,NaN,4852,295,5147,NaN,NaN,NaN,7102,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,4806,3529,1551,NaN,NaN,NaN,6232,524,6756,NaN,NaN,NaN,7310,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,4287,3972,315,NaN,NaN,NaN,6611,564,7175,NaN,NaN,NaN,8033,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,4412,3901,511,NaN,NaN,NaN,6647,568,7215,NaN,NaN,NaN,8098,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,4295,4013,282,NaN,NaN,NaN,6829,599,7428,NaN,NaN,NaN,8268,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2867,4109,59,NaN,NaN,NaN,7069,622,7691,NaN,NaN,NaN,8972,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,3576,4044,77,NaN,NaN,NaN,5757,375,6132,NaN,NaN,NaN,8166,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1453,3474,17,NaN,NaN,NaN,4826,306,5132,NaN,NaN,NaN,7285,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1407,3642,19,NaN,NaN,NaN,6491,539,7030,NaN,NaN,NaN,7914,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2061,3850,59,NaN,NaN,NaN,6506,555,7061,NaN,NaN,NaN,7952,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2636,3785,56,NaN,NaN,NaN,6741,635,7376,NaN,NaN,NaN,8155,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,3098,3793,71,NaN,NaN,NaN,7016,599,7615,NaN,NaN,NaN,8182,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,3541,3889,103,NaN,NaN,NaN,6973,646,7619,NaN,NaN,NaN,8407,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,3137,3816,83,NaN,NaN,NaN,5437,442,5879,NaN,NaN,NaN,8514,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2137,3202,74,NaN,NaN,NaN,4881,306,5187,NaN,NaN,NaN,7173,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2670,3741,51,NaN,NaN,NaN,6627,545,7172,NaN,NaN,NaN,7825,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
df=df.dropna(axis=1)
df

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 13
1,6406,3594,2812,4897,409,5306,8179
2,6237,3494,2743,4371,332,4703,6903
3,3982,2143,1839,5945,548,6493,7603
4,4875,2491,2384,6351,562,6913,7868
5,5567,2936,2631,6200,570,6770,7520
6,6205,3204,3001,6440,555,6995,7940
7,6809,3470,3339,7011,649,7660,8876
8,6374,3534,2840,4784,373,5157,7767
9,5471,3003,2468,4376,277,4653,6977
10,6507,3389,3118,5666,335,6001,7784
11,6909,3616,3293,6359,582,6941,7879
12,7562,3910,3652,6452,561,7013,8020
13,7679,4068,3611,6629,530,7159,7915
14,7906,4253,3653,7062,579,7641,8680
15,7367,3899,3468,5360,403,5763,8656
16,6295,3302,2993,4852,295,5147,7102
17,4806,3529,1551,6232,524,6756,7310
18,4287,3972,315,6611,564,7175,8033
19,4412,3901,511,6647,568,7215,8098
20,4295,4013,282,6829,599,7428,8268
21,2867,4109,59,7069,622,7691,8972
22,3576,4044,77,5757,375,6132,8166
23,1453,3474,17,4826,306,5132,7285
24,1407,3642,19,6491,539,7030,7914
25,2061,3850,59,6506,555,7061,7952
26,2636,3785,56,6741,635,7376,8155
27,3098,3793,71,7016,599,7615,8182
28,3541,3889,103,6973,646,7619,8407
29,3137,3816,83,5437,442,5879,8514
30,2137,3202,74,4881,306,5187,7173
31,2670,3741,51,6627,545,7172,7825

In [66]:
df.columns=["日進〜長久手","長久手下り","ロングランプ下り","牛田上り","牛田TB〜牛田","牛田〜新林", "碧南〜半田"]
df

   日進〜長久手 長久手下り ロングランプ下り  牛田上り 牛田TB〜牛田 牛田〜新林 碧南〜半田
1    6406  3594     2812  4897     409  5306  8179
2    6237  3494     2743  4371     332  4703  6903
3    3982  2143     1839  5945     548  6493  7603
4    4875  2491     2384  6351     562  6913  7868
5    5567  2936     2631  6200     570  6770  7520
6    6205  3204     3001  6440     555  6995  7940
7    6809  3470     3339  7011     649  7660  8876
8    6374  3534     2840  4784     373  5157  7767
9    5471  3003     2468  4376     277  4653  6977
10   6507  3389     3118  5666     335  6001  7784
11   6909  3616     3293  6359     582  6941  7879
12   7562  3910     3652  6452     561  7013  8020
13   7679  4068     3611  6629     530  7159  7915
14   7906  4253     3653  7062     579  7641  8680
15   7367  3899     3468  5360     403  5763  8656
16   6295  3302     2993  4852     295  5147  7102
17   4806  3529     1551  6232     524  6756  7310
18   4287  3972      315  6611     564  7175  8033
19   4412  3901      511  6647     568  7215  8098
20   4295  4013      282  6829     599  7428  8268
21   2867  4109       59  7069     622  7691  8972
22   3576  4044       77  5757     375  6132  8166
23   1453  3474       17  4826     306  5132  7285
24   1407  3642       19  6491     539  7030  7914
25   2061  3850       59  6506     555  7061  7952
26   2636  3785       56  6741     635  7376  8155
27   3098  3793       71  7016     599  7615  8182
28   3541  3889      103  6973     646  7619  8407
29   3137  3816       83  5437     442  5879  8514
30   2137  3202       74  4881     306  5187  7173
31   2670  3741       51  6627     545  7172  7825